* {
	font-family:verdana;
	}
body{
		background-color:#d0e4fe;
		}
#wrapper {
	width:960px;
	margin:0px auto; 
	}

h1 {	
	text-align:center;
	font-size:30px;
	margin-top:25px;
	margin-bottom:25px;
	}

h2 {
	text-align:center;
	font-family:Verdana;
	font-size:15px;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
	}

#left-side {
	width:425px;
	margin-right:50px;
	float:left;
	}


#right-side {
	width:400px;
	float:left;
	}

#card {
	background-image:url("images/texture_1.jpg");
	background-repeat:no-repeat;
	height:338px;
	width:345px;
	margin:0px auto;
}

#message-in-canvas {
		width:100%;
		padding-top:100px;
		text-align:center;
		text-align:center;
		z-index:999;
		}

#canvas {
	border:4px solid black;
	width:338px;
	height:345px;
	position:relative;
	top:33px;
	left:16px;
	overflow:hidden;
}

.footer {
		clear:both;
		}


.graphic-choice{
				width:100px;
				height:100px;
				}


.graphic-choice {
			cursor:move;
			}
	
.draggable {
		cursor:move;
		}				
		
.draggable {
		position:absolute;
		width: 165px;
		height: 165px;
		border: 2px
		top:0px;
		left:0px;
		}

.droppable {
			cursor:move;
			}
			
.droppable {
		width: 165px;
		height: 165px;
		border: 2px
		top:0px;
		left:0px;
		}
